/* Media Quary */

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 74.9375em) {
  html {
    /* font-size: 56.25%; */ /* 9px / 16px = 0.5625 = 56.25% */

    font-size: 50%; /* 8px / 16px = 0.5 = 50% */
  }

  .subscribe-form-box {
    width: 40%;
  }
}

/**************************/
/* BELOW 991px (Smaller tablets) */ /* 991px / 16 = 61.9375em */
/**************************/

@media (max-width: 61.9375em) {
  .show-main-img {
    padding-bottom: 4rem;
  }

  .radio .col-12 {
    padding-top: 2rem;
  }
  .subscribe-form-box {
    width: 55%;
  }
}

/**************************/
/* BELOW 768px (Smaller tablets) */ /* 768px / 16 = 48em */
/**************************/

@media (max-width: 47.9375em) {
  html {
    /* font-size: 50%; */ /* 8px / 16px = 0.5 = 50% */

    /* font-size: 43.75%; */ /* 7px / 16px = 0.4375 = 43.75% */

    font-size: 37.5%; /* 6px / 16px = 0.375 = 37.5% */
  }

  .banner {
    padding: 5rem 0rem;
  }

  .banner .col-md-8 {
    height: auto;
  }

  .order-one {
    order: 1;
    padding-top: 2rem;
  }

  .order-two {
    order: 2;
  }
  .Weekend-show img {
    padding-top: 4rem;
  }
}

/**************************/
/* BELOW 576px (Phones) */ /* 576px / 16 = 36em */
/**************************/

@media (max-width: 35.9375em) {
  html {
    /* font-size: 37.5%; */ /* 6px / 16px = 0.375 = 37.5% */

    font-size: 31.25%; /* 5px / 16px = 0.3125 = 31.25% */
  }

  .banner,
  .show,
  .Weekend-show,
  .Our-Review,
  .radio,
  .footer {
    padding: 5rem 2rem;
  }

  .bottom-list {
    text-align: center;
  }
}
